parameters.avs
*.log
*.exe
*.7z
.idea/
*.xml
*.iml__pycache__/
*.pyc
defaults.json
queue.json
presets/
*.ffindex
build/
dist/
*.build/
*.dist/
*.onefile-build/

# FFmpeg fetched through Tools > FFmpeg Features
ffmpeg/
